---
layout: page
permalink: /robots/
---
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="">
            <h2 style="margin-bottom:0px;">Our Robots</h2>
            <em class="small">We have quite a few of them ...</em>
            <p class="text-muted">
              All the robots listed below were built and are maintained by us, the student members of Team Paradox.
              Most of the robots are “Competition robots” meaning they were built for a FIRST FRC competition however some are student projects.
            </p>
          </div>
          <div class="">
            <h3>The Games:</h3>
            <p class="text-muted">
              FIRST FRC games vary every year, however, some aspects are more or less consistent. Each team (like us) builds one robot.
              At competitions 3 teams form an alliance that competes against another alliance. Alliance partners change in each round of play.
              After each team plays at least 10 matches in the qualification rounds, the teams are ranked according to the number of points
              scored and the top eight teams are seeded, and will serve as alliance captains for the final matches. Alliance captains choose
              two other teams to join their alliance for the remainder of the matches throughout the playoff. It is possible to not be a seeded
              team but become an alliance captain if a higher seeded teams selects another seeded team for their alliance.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {% for robot in site.data.robots %}
  <div class="section">
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ robot.image }}" alt="{{ robot.image_alt }}" class="img-responsive">
        </div>
        <div class="col-sm-9">
          <h3 class="text-primary" style="margin-top:0px;">{{ robot.year }}: {{ robot.name }}</h3>
            <h4>{{ robot.competition }}</h4>
            <h5>Game description:</h5>
            <p>{{ robot.game_description }}</p>
            <h5>Performance:</h5>
            <p>{{ robot.team_performance }}</p>
            <h5>Retirement plans:</h5>
            <p>{% if robot.robot_future == nil %} None {% else %} {{ robot.robot_future }} {% endif %}</p>
        </div>
    </div>
  </div>
  {% endfor %}
</div>
