---
layout: page
title: Sponsors
permalink: /sponsors/
---
<div class="container">
{% for sponsor in site.data.sponsors %}
  {% assign mod = forloop.index0 | modulo:4 %}
    {% if mod == 0 %}
      <div class="row">
    {% endif %}
      <div class="col-md-3">
        {% if sponsor.url != '' %}
          <a href="{{ sponsor.url }}" target="_blank"><img class="img-responsive" alt="{{ sponsor.name }}"src="{{ sponsor.image }}"></a>
        {% else %}
          <img class="img-responsive" alt="{{ sponsor.name }}"src="{{ sponsor.image }}">
        {% endif %}

        {% if sponsor.description != '' %}
          <p>{{sponsor.description}}</p>
        {% endif %}
      </div>
    {% if mod == 3 or forloop.last %}
      </div>
    {% endif %}
{% endfor %}
</div>
