<header>
    <nav class="no-round navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ site.shortname }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="no-round dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Team Info <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/team/build/">Build</a></li>
                            <li><a href="/team/logistics/">Logistics</a></li>
                            <li><a href="/team/vision/">Vision</a></li>
                            <li><a href="/schedule/">Schedule</a></li>
                        </ul>
                    </li>
                    <li class="no-round dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Outreach <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/team/fll-ftc/fll-mentoring/">FLL Mentoring</a></li>
                            <li><a href="/team/fll-ftc/fll-qualifing/">FLL Qualifying Tournament</a></li>
                            <li><a href="/team/fll-ftc/fll-map/">FLL Team Map</a></li>
                        </ul>
                    </li>
                    <li><a href="/team/robots/">Robots</a></li>
                    <li><a href="/team/sponsors/">Sponsors</a></li>
                    <li class="no-round dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Archive <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/archive/handbook/">Official Guides/Handbooks</a></li>
                            <li><a href="/archive/awards/">Award Submissions</a></li>
                            <li><a href="/archive/web-article/">Website Article</a></li>
                            <li><a href="/archive/designs/">Team Designs</a></li>
                            <li><a href="/archive/photos/">Photos</a></li>
                        </ul>
                    </li>
                    <li><a href="/team/contact/">Contact</a></li>
                    <li><a href="/team/merch/">Merchandise</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="no-round dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for post in site.posts limit:5 %}
                            <li><a href="{{ post.url}}">{{post.title}}</a></li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li><a href="/blog/archive/">Archive</a></li>
                        </ul>
                    </li>
                </ul>
                </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>