

<header>
  <!-- header -->
  <div id="main-header"  style="">
    <a href="/"><img class="img-responsive" style="float:left;" src="/resources/img/logos/paradox_logo_2016.png" alt="paradox_logo_2016"/></a>
    <span style="font-family: 'Share Tech Mono';">Team Paradox 2102</span>
  </div>
    <nav id="main-menu" data-spy="affix" data-offset-top="150" data-offset-bottom="0" class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.shortname }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <!-- about -->
             <li class="dropdown">
              <a data-proofer-ignore href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/team/">Paradox</a></li>
                <li><a href="/robots/">Robots</a></li>
                
                <li><a href="/schedule/">Schedule</a></li>
              </ul>
            </li>
            <!-- FIRST -->
            <li class="dropdown">
              <a data-proofer-ignore href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">FIRST <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/first/">What is FIRST?</a></li>
                <li><a target="_blank" href="http://www.firstinspires.org/robotics/flljr">Jr. FLL</a></li>
                <li><a target="_blank" href="http://www.firstinspires.org/robotics/fll">FLL</a></li>
                <li><a target="_blank" href="http://www.firstinspires.org/robotics/ftc">FTC</a></li>
                <li><a target="_blank" href="http://www.firstinspires.org/robotics/frc">FRC</a></li>
              </ul>
            </li>

            <!-- outreach -->
            <li class="dropdown">
              <a data-proofer-ignore href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Outreach <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/outreach/events">Events</a></li>
                <li><a href="/outreach/fll-mentoring">FLL Mentoring</a></li>
                <li><a href="/outreach/fll-map">FLL Team Map</a></li>
                <li><a href="/outreach/ftc-mentoring">FTC Mentoring</a></li>
                <li><a href="/outreach/frc-mentoring">FRC Mentoring</a></li>
                <li><a href="/outreach/summer-programs">Summer Programs</a></li>
              </ul>
            </li>

            <!-- gallery -->
            <li class="dropdown">
              <a data-proofer-ignore href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gallery <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/gallery/pictures/">Pictures</a></li>
                <li><a href="/gallery/logos">Logos</a></li>
                <li><a href="/gallery/videos">Videos</a></li>
              </ul>
            </li>

            <!-- resources -->
            <li class="dropdown">
              <a data-proofer-ignore href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resources <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/team/resources/geared-learning">Geared Learning Box</a></li>
                <li><a href="/team/resources/awards">Awards</a></li>
                <li><a href="/team/resources/handbooks">Handbooks</a></li>
              </ul>
            </li>

            <!-- sponsors -->
            <li><a href="/sponsors/">Sponsors</a></li>

            <!-- contact -->
            <li><a href="/contact/">Contact</a></li>
          </ul>

          <!-- right aligned nav items -->
          <ul class="nav navbar-nav navbar-right">
            <!-- posts -->
            <li><a href="/posts/archive/">Posts</a></li>
          </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</header>
