<header>
<nav class="no-round navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.shortname }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/outreach/">Outreach</a></li>
        <li><a href="/FLL-FTC/">FLL/FTC</a></li>
        <li><a href="/robots/">Robots</a></li>
        <li><a href="/schedual/">Schedual</a></li>
        <li><a href="/sponsors/">Sponsors</a></li>
        <li><a href="/archive/">Archive</a></li>
        <li><a href="/merchandise/">Merchandise</a></li>
      </ul>
      <ul class="nav navbar-nav">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Team Info <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/team/build/">Build</a></li>
            <li><a href="/team/outreach/">Outreach</a></li>
        </li>
      </ul>
      <!-- Navbar for Blog -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% for post in site.posts limit:5 %}
                <li><a href="{{ post.url}}">{{post.title}}</a></li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="/blog/archive/">Archive</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
