<section class="javascript">
  <script src="/resources/js/jquery-1.11.3.min.js"></script>
  <script src="/resources/bootstrap/js/bootstrap.min.js"></script>
  <!-- Lightbox2 -->
  {% if page.gallery %}
  <script src="/resources/gallery/simple-lightbox/simple-lightbox.min.js"></script>
  {% endif %}
  <!-- Custom Javascript -->
  <script src="/resources/js/konami.min.js"></script>

  <script>
    <!-- Animated menu hamburger via http://codepen.io/esassaman/pen/wrsvx/ -->
    $(document).ready(function() {
      $(".navbar-toggle").on("click", function() {
          $(this).toggleClass("active");
      });

      // navbar sticky js
      var menu = $('#main-menu');
      var origOffsetY = menu.offset().top;

       function scroll() {
         if ($(window).scrollTop() >= origOffsetY) {
           $('#main-menu').addClass('navbar-fixed-top');
           $('#site-body').addClass('menu-padding');
         }
         else {
           $('#main-menu').removeClass('navbar-fixed-top');
           $('#site-body').removeClass('menu-padding');
         }
       }
       document.onscroll = scroll;

      // TODO: add explanation for this code
       Konami.code(function() {
         $('body').css('background-image', 'url("/resources/other/cena.jpg")');
         var audioElement = document.createElement('audio');
         audioElement.setAttribute('src', '/resources/other/cena.mp3');
         audioElement.setAttribute('autoplay', 'autoplay');
       });
    });
   </script>
</section>
