<section class="javascript">
    <script src="/resources/js/jquery-1.11.3.min.js"></script>
    <script src="/resources/bootstrap/js/bootstrap.min.js"></script>
    <!-- Lightbox2 -->
    {% if page.gallery %}
    <script src="/resources/gallery/simple-lightbox/simple-lightbox.min.js"></script>
    {% endif %}
    <!-- Custom Javascript -->
    <!-- animated menu hamburger via codepen.io/esassaman/pen/wrsvx/ -->
    <script>
    $(document).ready(function() {
      $(".navbar-toggle").on("click", function() {
          $(this).toggleClass("active");
      });

      //Navbar Sticky JS
      var menu = $('#main-menu');
      var origOffsetY = menu.offset().top;

       function scroll() {
         if ($(window).scrollTop() >= origOffsetY) {
           $('#main-menu').addClass('navbar-fixed-top');
           $('#site-body').addClass('menu-padding');
         }
         else {
           $('#main-menu').removeClass('navbar-fixed-top');
           $('#site-body').removeClass('menu-padding');
         }
       }
       document.onscroll = scroll;
    });
    </script>
    <!-- Konami Code -->
    <script src="/resources/js/konami.js"></script>
    <script>
    var john_cena = new Konami();
        john_cena.code = function() {
            $('body').css('background-image', 'url("/resources/other/cena.jpg")');
            var audioElement = document.createElement('audio');
            audioElement.setAttribute('src', '/resources/other/cena.mp3');
            audioElement.setAttribute('autoplay', 'autoplay');
        };
    john_cena.load();
    </script>
</section>
