<section class="javascript">
    <!-- JQuery -->
    <script src="/resources/js/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap -->
    <script src="/resources/bootstrap/js/bootstrap.min.js"></script>
    <!-- Lightbox2 -->
    {% if page.gallery %}
    <script src="/resources/gallery/simple-lightbox/simple-lightbox.min.js"></script>
    {% else %}
    <!--No Lightbox needed on this page -->
    {% endif %}
    <!-- Custom Javascript -->
    <script src="/resources/js/konami.min.js"></script>
    <!-- Animated menu hamburger via http://codepen.io/esassaman/pen/wrsvx/ -->
    <script>
        $(document).ready(function() {
            $(".navbar-toggle").on("click", function() {
                $(this).toggleClass("active");
            });
        });
    </script>
    <script>
        $(document).on('keyup',
            Konami.code(function() {
            $('body').css('background-image', 'url("/resources/other/cena.jpg")');
            var audioElement = document.createElement('audio');
            audioElement.setAttribute('src', '/resources/other/cena.mp3');
            audioElement.setAttribute('autoplay', 'autoplay');
            })
        );
    </script>
</section>
