---
#SCSS
---
.centered {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-round {
  border-radius: 0 !important;
}

/*Via http://codepen.io/esassaman/pen/wrsvx/ */

.navbar-toggle {
  .icon-bar {
    &:nth-of-type(2) {
      top: 1px;
    }
    position: relative;
    transition: all 200ms ease-in-out;
  }
  &.active .icon-bar {
    &:nth-of-type(1) {
      top: 6px;
      transform: rotate(45deg);
    }
    &:nth-of-type(2) {
      background-color: transparent;
    }
    &:nth-of-type(3) {
      top: -6px;
      transform: rotate(-45deg);
    }
  }
}

.no-padding {
  padding: 0;
}

.image-fix {
  max-width: 100%;
  max-height: 100%;
}

.carousel-caption {
  font-weight: 900;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

/*
  page header styles
**/
#main-header {
  display:flex;align-items:center;font-size:72px;height:150px;background-color:#D59E2A;
}

/*
  main navigation bar and menu styles
**/
.menu-padding {
    padding-top:55px;
}

.navbar,
.navbar ul,
.navbar-nav li a {
    background-color: #D5482A !important;
  }

.navbar-nav li a:hover {
  background-color: #AA3921 !important;
}

.navbar-nav li.divider {
  background-color: #fff;
}

/*
  home page carousel styles
**/
#carousel-home2 .item{
    height: 360px;
}

#carousel-home2 .item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 360px;
}


/*** RESPONSIVE CSS ***/

/*
  media based styles for any elements that need adjusting when screen is < 992px
**/
@media (max-width: 991px) {
    #main-header {font-size: 22px;}
    #carousel-home2 .item{
        height: inherit;
    }

    #carousel-home2 .item img {
        position: relative;
        min-height: 100px;
    }
}
