---
#SCSS
---

.centered {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-round {
  border-radius: 0 !important;
}

.no-padding {
  padding: 0;
}

.image-fix {
  max-width: 100%;
  max-height: 100%;
}

.carousel-caption {
  font-weight: 900;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

/*
  page header styles
**/
#main-header {
  display:flex;align-items:center;font-size:72px;height:150px;background-color:#FEC107;
}

/*
  main navigation bar and menu styles
**/
.menu-padding {
    padding-top:55px;
}

.navbar,
.navbar ul,
.navbar-nav li a {
    background-color: #D32F2E !important;
  }

.navbar-nav li a:hover {
  background-color: #C62828 !important;
}

.navbar-inverse .navbar-collapse {
  border-color: #C62828;
}

.navbar-nav li.divider {
  background-color: #fff;
}


/*
  home page carousel styles
**/
#carousel-home2 .item{
    height: 360px;
}

#carousel-home2 .item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 360px;
}

/* Footer */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 2px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/*** RESPONSIVE CSS ***/

/*
  media based styles for any elements that need adjusting when screen is < 992px
**/
@media (max-width: 991px) {
    #main-header {font-size: 22px;}
    #carousel-home2 .item{
        height: inherit;
    }

    #carousel-home2 .item img {
        position: relative;
        min-height: 100px;
    }
    .footer-distributed {
		.footer-left {
			text-align: center;
			p.footer-links {
				line-height: 1.8;
			}
		}
		.footer-right {
			text-align: center;
			float: none;
			margin: 0 auto 20px;
		}
}
}
