---
#Final Layout
---
<!DOCTYPE html>
<html lang="en">
<!--
████████╗███████╗ █████╗ ███╗   ███╗    ██████╗  █████╗ ██████╗  █████╗ ██████╗  ██████╗ ██╗  ██╗
╚══██╔══╝██╔════╝██╔══██╗████╗ ████║    ██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔═══██╗╚██╗██╔╝
   ██║   █████╗  ███████║██╔████╔██║    ██████╔╝███████║██████╔╝███████║██║  ██║██║   ██║ ╚███╔╝ 
   ██║   ██╔══╝  ██╔══██║██║╚██╔╝██║    ██╔═══╝ ██╔══██║██╔══██╗██╔══██║██║  ██║██║   ██║ ██╔██╗ 
   ██║   ███████╗██║  ██║██║ ╚═╝ ██║    ██║     ██║  ██║██║  ██║██║  ██║██████╔╝╚██████╔╝██╔╝ ██╗
   ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝    ╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝  ╚═════╝ ╚═╝  ╚═╝
-->
<!-- Made with lots of <3 From Team Paradox 2102, To see source look at https://github.com/Paradox2102/paradox2102.github.io -->
{% include development.html %}
{{ content }}
</html>