---
layout: default
---
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-1 column">
                </div>
                <div class="col-md-8 column">
                    {{ content }}
                </div>
                <div class="col-md-3 column">
                    <h3 class="centered">
                    Team Paradox needs <strong>your</strong> support!
                    </h3>
                    <p>
                        Team Paradox is a <strong>small business</strong> and to fund most of our activities, such as $5,000 regional entrance fees, we write grants to corporate businesses for money. However we depend on donations to make up the difference. Giving money to Team Paradox helps ensure that we are able to continue to participate to our fullest ability in competition and at events to maximise the educational experience to all members of the team.
                    </p>
                    <hr>
                    <h4 class="centered">
                    Recent Posts
                    </h4>
                    <ul class="no-padding" style="list-style-type:none">
                        {% for post in site.posts limit:5 %}
                            <li><a href="{{ post.url }}">{{ post.title}} - {{ post.date | date: "%-d %B" }}</a></li>
                            <hr width="50%">
                        {% endfor %}
                    </ul>
                    <hr>
                    <ul class="no-padding" style="list-style-type:none">
                        <li>
                            <a class="btn btn-block btn-primary center-block" href="{{ site.twitter }}">
                                <i class="fa fa-twitter-square"></i> Twitter! <!-- No idea why this isnt working -->
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-block btn-success" href="{{ site.facebook }}">
                                <i class="fa fa-facebook-square"></i> Facebook!
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-block btn-danger" href="{{ site.youtube }}">
                                <i class="fa fa-youtube-play"></i> Youtube!
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-block btn-info" href="{{ site.first }}">
                                <i class="fa fa-birthday-cake"></i> First!
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-block btn-warning" href="{{ site.bluealliance }}">
                                <i class="fa fa-lightbulb-o"></i> The Blue Alliance!
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-block btn-danger" href="{{ site.sda }}">
                                <i class="fa fa-bullhorn"></i> San Dieguito Academy!
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
