---
layout: default
---
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-1 column">
                </div>
                <div class="col-md-8 column">
                    {{ content }}
                </div>
                <div class="col-md-3 column">
                    <h3 class="centered">
                    Team Paradox needs <strong>youre</strong> support!
                    </h3>
                    <p>
                    Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
                    </p>
                    <hr>
                    <ul class="no-padding" style="list-style-type:none">
                        <li>
                            <a class="btn btn-block btn-primary center-block" href="{{ site.twitter }}">
                            <i class="fa fa-twitter"></i> Twitter! <!-- No idea why this isnt working -->
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-block btn-success" href="{{ site.facebook }}">
                            <i class="fa fa-facebook-square"></i> Facebook!
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-block btn-info" href="{{ site.first }}">
                            <i class="fa fa-birthday-cake"></i> First!
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-block btn-warning" href="{{ site.bluealliance }}">
                            <i class="fa fa-lightbulb-o"></i> The Blue Alliance!
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-block btn-danger" href="{{ site.sda }}"">
                            <i class="fa fa-bullhorn"></i> San Dieguito Academy!
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>