---
layout: default
---
<div id="site-body" class="container">
  <div class="row">
    <div class="col-md-9">
      {{ content }}
    </div>
    <div class="col-md-3">
      <!-- live stream -->
      <div style="text-align:center;">2016 Robot Reveal</div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zC--rAZSoTc?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <!-- events -->

      <div style="margin-top:15px;">
        <div style="text-align:center;">Upcoming Events</div>
        <iframe src="https://calendar.google.com/calendar/embed?src=sdarobotics.org_nurlek82e02a6pq45dbi590kd4%40group.calendar.google.com&title=Upcoming%20Events&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
      </div>
      <hr>
      <!-- donate -->
      <h3 class="centered" style="margin-top:10px;">
        Team Paradox needs <strong>your</strong> support!
      </h3>
        <p>
          Team Paradox is a 501c3 non-profit, to fund most of our activities students write grants to corporate businesses. 
          However, we also depend on donations from people like you! All donations are tax deductible.
        </p>
      <a href="/donate" class="btn btn-block btn-primary center-block">Donate</a>
      <hr>
      <!-- recent posts -->
      <h4 class="centered">Recent Posts</h4>
      <ul class="no-padding" style="list-style-type:none">
        {% for post in site.posts limit:5 %}
        <li><a href="{{ post.url }}">{{ post.title}} - {{ post.date | date: "%-d %B" }}</a></li>
        {% if forloop.last == false %}<hr width="50%">{% endif %}
        {% endfor %}
      </ul>
      <hr>
      <!-- social -->
      <ul class="no-padding" style="list-style-type:none">
        <li>
          <a class="btn btn-block btn-primary center-block" href="{{ site.twitter }}">
            <i class="fa fa-twitter-square"></i> Twitter
          </a>
        </li>
        <li>
          <a class="btn btn-block btn-success" href="{{ site.facebook }}">
            <i class="fa fa-facebook-square"></i> Facebook
          </a>
        </li>
        <li>
          <a class="btn btn-block btn-info" href="{{ site.first }}">
            <i class="fa fa-shield"></i> FIRST
          </a>
        </li>
        <li>
          <a class="btn btn-block btn-warning" href="{{ site.bluealliance }}">
            <i class="fa fa-lightbulb-o"></i> The Blue Alliance
          </a>
        </li>
        <li>
          <a class="btn btn-block btn-danger" href="{{ site.sda }}">
            <i class="fa fa-bullhorn"></i> San Dieguito Academy
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
